@font-face{
  font-family: 'Roboto', sans-serif;
  src: url(./fonts/Roboto-Light.ttf);
}


@font-face{
  font-family: 'Ubuntu', sans-serif;
  src: url(./fonts/Ubuntu-Medium.ttf);
}





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #0C0C0C;
}

/******** NAVBAR************/
 .navbar {
  background-image: linear-gradient(
    120deg,
    #501f58 0%,
    #f58a82 100%
  ); 
  /* background-color: #0C0C0C; */
} 

/* items navbar*/
.nav-item {
  color: #ffffff;
  font-weight: bold;
}
.logo {
  height: 30px;
}
.nav-link.active,
.nav-link:hover {
  color: white;
}

/************HOME***********/
#home {
  height: 100vh;
  padding-top: 65px;
  max-width: 100vw;
}
 
.home-left {
  padding: 0 3vw 0 5vw;
} 

#my-name {
  font-size: 80px;
  color: #fa7268;
  font-family: "Ubuntu", sans-serif;

}

#my-lastname {
  color: #fffaed;
  font-size: 50px;
  font-family: "Ubuntu", sans-serif;
}
#my-position {
  font-size: 20px;
  color: #b75ec8;
}
.img-robot{
  width: 380px;
  animation: float 3s infinite;
}


/**********ABOUT-SKILLS ************/

#about-skills{
  max-width: 100vw;
    padding-top: 65px;
    min-height: 100vh;
    /* background: #0c0c0c; */
}


#about-section{
  padding: 40px 50px;
} 
 .title-about, .title-skills {
  font-size: 30px;
  color: #bc6bc7;
  font-family: "Ubuntu", sans-serif;
} 
.about-text {
  font-family: 'Roboto', sans-serif;
  color: #dcd0c0;
  font-size: 20px;
}
/* 
.btn-cv {
  background-image: linear-gradient(
    69.5deg,
    #bd49fffc 18.6%,
    #fe4ce3 85.9%
  );
  columns: #0c0c0c;
  margin-top: 30px;
  width: 100px;
  font-weight: bold;
} */

/* .btn-cv span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-cv span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-cv:hover span {
  padding-right: 25px;
}

.btn-cv:hover span:after {
  opacity: 1;
  right: 0;
} */

#skills-section{
  padding: 20px 50px;
  width: 100%;
}

.skills-list li{
  list-style: none;
}


.soft-skills > p {
  margin: 10px;
}
.hard-skill-icon {
  margin: 20px;
}

.react-img{
  width: 40px;
}

.github-img{
  width: 40px;
}


.icon-skill{
  width: 48px;
  height:48px;
}

.icon-github{
  color: #ffffff;
}

.icon-babel{
  width: 48px;
  margin: 14px 0;
}
.circle{
  margin:30px
}

.circle p{
  font-family: 'Roboto', sans-serif;
  color: #dcd0c0;
}
/********PROJECTS*********/

#projects {
  max-width: 100vw;
  padding-top: 65px;
  min-height: 100vh;
}
.title-projects {
  font-family: "Ubuntu", sans-serif;
  color: #fa7971;
  font-size: 40px;
  margin:15px 0 0 0;
} 

.card-project {
  width: 85vw;
  height: 60vh;
  margin: 45px auto;
  border-radius: 0px;
}

.transparent-card {
  background: rgba(0, 0, 0, 0.3);
}
.transparent-card div {
  padding: 2vw;
}

/*nombre del proyecto*/
.name-project {
  position: relative;
  font-size: 5vw;
  color: #fffaed;
  margin-left: 10px;
  margin-top: 10px;
}
/*numeros del proyecto*/
.number-project {
  text-align: right;
  font-size: 10vw;
  color: #fffaed;
}

.description-card {
  background: #f3f3eb;
}

.description-project {
  font-family: 'Roboto', sans-serif;
}

.description-card div a {
  text-decoration: none;
  color: #bc6bc7;
  font-size: 20px;
  font-weight: bold;
  /* font-family: "Montserrat", sans-serif; */
}
#project-card-1 {
  background-image: url("./imagenes/jason-leung-poI7DelFiVA-unsplash.jpg");
  background-size: cover;
  padding: 0 0;
}
#project-card-2 {
  background-image: url("./imagenes/mike-alonzo-Xe7za0JtTeM-unsplash.jpg");
  background-size: cover;
  padding: 0 0;
}
#project-card-3 {
  background-image: url("./imagenes/filiberto-santillan-1HCb2gPk3ik-unsplash.jpg");
  background-size: cover;
  padding: 0 0;
}

#project-card-4 {
  background-image: url("./imagenes/henry-be--Pg63JThyCg-unsplash.jpg");
  background-size: cover;
  padding: 0 0;
}


.www-img{
  width: 60px;
}
/************** CONTACT************/
#contact {
  background: #10100f;
  color: #ffffff;
  max-width: 100vw;
}

.title-contact {
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  color: #fa7268;
  padding-top: 40px;
}

.circle-about {
  width: 70px;
  height: 70px;
  background-image: linear-gradient(120deg, #d57eeb 0%, #fa8381 100%);
  border-radius: 50%;
  border: solid 2px white;
  margin: 30px;

}

.circle-about i {
  color: black;
  font-size: 30px;
}



.made-by {
  font-size: 16px;
}

/*****************************************MEDIA QUERIES*********************************/
@media screen and (max-width: 576px) {
  /******** NAVBAR************/
  /* items navbar*/
  .nav-item {
    font-size: 10px;
  }

  /************HOME***********/
  #home {
    padding-top: 40px;
  }

  .home-left {
    padding: 0 30px ;
  }

  #my-name {
    font-size: 70px;
  }

  #my-lastname {
    font-size: 40px;
  }
  #my-position {
    font-size: 17px;
  }

  .img-robot{
    width: 250px;
  }
  /**********ABOUT-SKILLS ************/

  #about-section, #skills-section {
    padding: 10px 15px;
  }

  


  .about-text {
    font-size: 16px;
  }


  /********PROJECTS*********/
  #projects{
    padding-top: 40px;
  }
  .title-projects {
    font-size: 40px;
  }
  .card-project{
    height: auto;
    margin: 30px 0px;
  }


  #project-card-1
   {
    height: 200px
  }
  #project-card-2 {
    height: 200px
  }
  #project-card-3 {
    height: 200px
  }
  #project-card-4{
    height: 200px
  }
  /*nombre del proyecto*/
  .name-project {
    font-size: 30px;
  }
  /*numeros del proyecto*/
  .number-project {
    font-size: 60px;
  }

  .description-card {
    background: #f3f3eb;
  }

  .description-card div a {
    font-size: 20px;
  }
  

  /************** CONTACT************/


  .circle-about {
    width: 60px;
    height: 60px;
    margin: 15px;
  
  }
  .circle i {
    font-size: 20px;
  }
  #made-by {
    font-size: 15px;
  }
}


@media screen and (min-width: 411px)and (max-width: 576px) {
.nav-item{
  font-size:13px;
}
}

@media(max-width:414px){
  .circle {
    margin: 19px;
}
}


@media(max-width:375px){
  .circle {
    margin:10px;
}
}

@media(max-width:320px){
  .circle {
    margin:8px;
}
  .circle-about {
    width: 50px;
    height: 50px;
    margin: 15px;
}

.circle-about i {
  font-size: 20px;
}
.nav-item {
  font-size: 9px;
}

.img-robot{
  width:200px;
}
.navbar {
  padding: 10px 5px 5px 5px;
}
.nav-link {
  padding: 0 10px;
}
.card-project {
  width: 90vw;
}


.description-project {
    font-size: 15px;
}


.made-by {
  font-size: 15px;
}
}


@media(max-width:274px){

.nav-link {
   padding: 0 10px;
}
.circle-about {
  width: 40px;
  height: 40px;
}
.made-by {
  font-size: 13px;
}
.img-robot {
  width: 150px;
}
}

@keyframes float {
	0% {
		transform: translateY(0px) ;
	}
	50% {
		transform: translateY(5px) ;
	}
	100% {
		transform: translateY(0px) ;
	}
}
