* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/******** NAVBAR************/
.navbar {
  background-image: linear-gradient(
    120deg,
    #501f58 0%,
    #f58a82 100%
  ); 
}

/* items navbar*/
.nav-item {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.logo {
  height: 30px;
}
.nav-link.active,
.nav-link:hover {
  color: white;
}

/************HOME***********/
#home {
  height: 100vh;
  padding-top: 54px;
  max-width: 100vw;
  background: #0c0c0c;
}

.home-left {
  padding: 0 3vw 0 5vw;
}

#my-name {
  font-size: 80px;
  color: #fa7268;
  font-family: "Staatliches", cursive;
}

#my-lastname {
  color: #fffaed;
  font-size: 50px;
  font-family: "Ubuntu", sans-serif;
}
#my-position {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #b75ec8;
}

.rotating {
  width: 60%;
  height: 60%;
  animation: rotation 8s infinite linear;
  animation: rotation 8s infinite linear;
  animation: rotation 8s infinite linear;
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    -moz-transform: rotate(359deg);
    -ms-transform: rotate(359deg);
    -o-transform: rotate(359deg);
  }
}

/**********ABOUT-SKILLS ************/

#about-skills {
  max-width: 100vw;
  background: #10100f;
  padding-top: 59px;
  height: 100vh;
}

#about-skills > div {
  height: 100%;
}
#about-section,
#skills-section {
  padding: 0 40px 0 40px;
}

.title-about {
  font-weight: bold;
  font-size: 50px;
  color: #fa7971;
  font-family: "Ubuntu", sans-serif;
}
.about-text {
  font-family: "Raleway", sans-serif;
  color: #dcd0c0;
  font-size: 17px;
  font-weight: bold;
}

.btn-cv {
  background-image: linear-gradient(
    69.5deg,
    rgba(189, 73, 255, 0.99) 18.6%,
    rgba(254, 76, 227, 1) 85.9%
  );
  columns: #0c0c0c;
  margin-top: 30px;
  width: 100px;
  font-weight: bold;
}

.btn-cv span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-cv span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-cv:hover span {
  padding-right: 25px;
}

.btn-cv:hover span:after {
  opacity: 1;
  right: 0;
}

.title-skills {
  color: #bc6bc7;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  text-align: center;
}

/*Contenedores de hars y soft skills*/
.hard-skills,
.soft-skills {
  font-weight: bold;
  font-size: 15px;
  color: #dcd0c0;
  font-family: "Raleway", sans-serif;
  margin: 10px 0 10px 0;
}

.soft-skills > p {
  margin: 10px;
}
.hard-skill-icon {
  margin: 20px;
}

.i-sk {
  width: 40px;
  height: 40px;
}
/********PROJECTS*********/

#projects {
  background: #0c0c0c;
  max-width: 100vw;
  padding-top: 54px;
  height: 350vh;
}
.title-projects {
  font-family: "Ubuntu", sans-serif;
  color: #fa7971;
  font-size: 50px;
  font-weight: bold;
}

.card-project {
  width: 80vw;
  height: 60vh;
  margin: 10vh auto;
  border-radius: 0px;
}

.card-project > div {
  height: 90%;
}
.transparent-card {
  background: rgba(0, 0, 0, 0.4);
}
.transparent-card div {
  padding: 2vw;
}

/*nombre del proyecto*/
.name-project {
  position: relative;
  font-size: 5vw;
  font-family: "Montserrat", "sans-serif";
  color: #fffaed;
}
/*numeros del proyecto*/
.number-project {
  font-family: "Staatliches", cursive;
  text-align: right;
  font-size: 10vw;
  color: #fffaed;
}

.description-card {
  background: #f3f3eb;
}

.description-card a:hover {
  color: #fa7971;
}
.description-project {
  font-family: "Montserrat", "sans-serif";
  padding: 10px auto;
  text-align: justify;
}

.description-card div a {
  text-decoration: none;
  color: #bc6bc7;
  font-size: 20px;
  font-weight: bold;
  font-family: "Montserrat", "sans-serif";
}
#project-card-1 {
  background-image: url("../imagenes/kamil-s-J1IbThTQJoY-unsplash.jpg");
  background-size: cover;
  padding: 0 0;
}
#project-card-2 {
  background-image: url("../imagenes/mike-alonzo-Xe7za0JtTeM-unsplash.jpg");
  background-size: cover;
  padding: 0 0;
}
#project-card-3 {
  background-image: url("../imagenes/filiberto-santillan-1HCb2gPk3ik-unsplash.jpg");
  background-size: cover;
  padding: 0 0;
}

#project-card-4 {
  background-image: url("./imagenes/henry-be--Pg63JThyCg-unsplash.jpg");
  background-size: cover;
  padding: 0 0;
}

#skills p {
  color: #eeebd0;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}
#skills ul li {
  color: #eeebd0;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}

/************** CONTACT************/
#contact {
  background: #10100f;
  color: #ffffff;
  max-width: 100vw;
}

.title-contact {
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;
  color: #fa7268;
  padding-top: 40px;
}

.circle {
  width: 70px;
  height: 70px;
  background-image: linear-gradient(120deg, #d57eeb 0%, #fa8381 100%);

  border-radius: 50%;
  border: solid 2px white;
  margin: 30px;
}
.circle i {
  color: black;
  font-size: 30px;
}
.made-by {
  font-size: 16px;
}

/*****************************************MEDIA QUERIES*********************************/

@media screen and (min-width: 576px) and (max-width: 991px) {
  #about-skills {
    padding-top: 59px;
    height: 150vh;
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 576px) {
  /******** NAVBAR************/
  /* items navbar*/
  .nav-item {
    font-size: 10px;
  }

  /************HOME***********/
  #home {
    padding-top: 40px;
  }

  .home-left {
    padding: 0 25px 0 25px;
  }

  #my-name {
    font-size: 70px;
  }

  #my-lastname {
    font-size: 40px;
  }
  #my-position {
    font-size: 17px;
  }

  /**********ABOUT-SKILLS ************/

  #about-skills {
    padding-top: 59px;
    height: 150vh;
    display: flex;
    flex-wrap: wrap;
  }

  #about-section {
    height: 50%;
  }

  #skills-section {
    height: 50%;
  }

  .title-about {
    font-size: 40px;
  }
  .about-text {
    font-size: 15px;
  }

  .title-skills {
    font-size: 30px;
  }
  /*Contenedores de hars y soft skills*/
  .hard-skills,
  .soft-skills {
    font-weight: bold;
    font-size: 14px;
    font-family: "Raleway", sans-serif;
  }

  .hard-skill-icon {
    margin: 15px;
  }

  .i-sk {
    width: 40px;
    height: 40px;
  }

  /********PROJECTS*********/

  .title-projects {
    font-size: 40px;
  }

  .card-project {
    width: 85vw;
    height: 90vh;
  }

  #project-card-1,
  #description-card {
    height: 50%;
  }
  #project-card-2,
  #description-card {
    height: 50%;
  }
  #project-card-3,
  #description-card {
    height: 50%;
  }
  #project-card-4,
  #description-card {
    height: 50%;
  }
  /*nombre del proyecto*/
  .name-project {
    font-size: 30px;
  }
  /*numeros del proyecto*/
  .number-project {
    font-size: 60px;
  }

  .description-card {
    background: #f3f3eb;
  }

  .description-card div a {
    font-size: 20px;
  }
  #project-card-1 {
    padding: 0 0;
  }
  #project-card-2 {
    padding: 0 0;
  }
  #project-card-3 {
    background-size: cover;
    padding: 0 0;
  }

  /************** CONTACT************/

  .title-contact {
    font-size: 30px;
  }

  .circle {
    width: 60px;
    height: 60px;
    margin: 15px;
  }
  .circle i {
    font-size: 20px;
  }
  #made-by {
    font-size: 15px;
  }
}
